/* Basic Css */
*{
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Radiance', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}
.button{
    border: 3px solid #ffffff50;
    border-radius: 5px;
    transition-duration: .2s;
}

.button:hover{
    border-color: red;
}

.underline:hover{
    border-bottom: 3px solid red;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);

}
/* Close Button */
.close {
    position: fixed;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity .5s ;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  

/* Loader */
#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}
/* ------------------------------------------ */
/*              Landing Page                 */
/* ------------------------------------------ */

/* _____________ Header_________________ */

.header-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: 700;

    
}

#header-responsive-icon{
    display: none;
}

/* left-header */

.left-header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;  
    width: 70%;
    font-size: 1.125rem;
    font-family: "Reaver",serif;
    font-weight: 600;
    letter-spacing: 3px;
    
    text-transform: uppercase;
}

.left-header .header-logo img{
    height: 3.5rem;
    opacity: .8;
    margin-right: 40px;
}

#dota2_logo_symbol{
    display: none;
}

.left-header-nav{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}
.left-header .header-hero{
    text-align: center;
    align-self: center;
    opacity: .8;
}

.left-header .header-news{
    text-align: center;
    align-self: center;
    opacity: .8;
    width: auto;
}

/* dropDown */
.game-option{
    align-self: center;
}
.dropbtn {
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-family: "Reaver",serif;
    font-weight: 600;
    border: none;
    cursor: pointer;
    opacity: .8;
    letter-spacing: 3px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    
    min-width: 100px;
   
    backdrop-filter: blur(100rem);
    box-shadow: inset 0 3px 6px rgb(0 0 0 / 16%), 0 4px 6px rgb(216 14 14 / 45%);
    border-radius: 10px;
    z-index: 10;

  }
  
  .dropdown-content a {
      
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }
  
  .dropdown-content a:hover {
      backdrop-filter: blur(5px);
      border-bottom: 3px solid red;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
    opacity: .9;    
  }
  
  .dropdown:hover .dropbtn {
    margin-bottom: 1rem;
    border-bottom: 3px solid red;
    padding-bottom: -1rem;
  }

/* right-header */
.right-header{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    
}

.right-header .login{
    margin-right: 3rem;
    align-self: center;

}

.right-header .header-steam-link img{
    margin-right: 1rem;
}
.right-header .header-steam-link{
    padding: 1rem;
    display: flex;
    align-items: center;
}

/* ______________Video Container___________ */

.video-container video{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.6;
    

}

/* _____________Quote Container________________ */

.quote-outer-container{
    
    display: flex;
    margin-right: 4rem;
    justify-content: flex-end;
    align-content: center;
    
   
    
}

@keyframes example {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.quote-inner-container{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    animation: example 2s ease-in-out ;
}



.quote-inner-container h1{
    font-size: 60px;
    line-height: 113%;
    font-family: "Reaver",serif;
    letter-spacing: 5px;
    font-weight: 600;
    color: #ffffffee;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #000;
    margin-bottom: 1rem;
}

.quote-inner-container:hover{ 
    cursor:default; 
     backdrop-filter: blur(1rem); 
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(216, 14, 14, 0.45);
    border-radius: 10px;
}



/* Quote Button */
.quote-button{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.quote-button:hover{
    cursor: pointer;
}

.quote-button a{
    padding: .5rem 2rem;
}

.quote-button .quote-steam-link{
    display: flex;
    
}


.quote-button .quote-steam-link .button-text{
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem;
}

.button-text .text2{
    font-weight: 400;
    font-size: 1rem;
    opacity: .8;
}

/* ------------------------------------------ */
/*              Landing Page End             */
/* ----------------------------------------- */


/* ------------------------------------------ */
/*              All Heroes Page              */
/* ------------------------------------------ */

/* Main Title and subTitle */
.container{
    display: flex;
    margin: 0rem 10rem 5rem 10rem;
    padding: 3rem 0;
    justify-content: center;
    align-content: center;
    backdrop-filter: blur(10px);
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(216, 14, 14, 0.45);
    border-radius: 10px;
}

.allhero-title {

    display: flex;
    flex-direction: column;
    align-items: center;  
    

}

.allhero-title .title{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: "Reaver",serif;
    letter-spacing: 5px;
    text-align: center;
}

.allhero-title .sub-title{
    color: rgb(101 213 0);
    font-size: 26px;
    text-align: center;
    
    margin-bottom: 30px;
}

/* Attributes Images */

.attribute-image{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.attribute-image img{
    height: 11rem;
    border-radius: 30%;
    cursor: pointer;
    border: 4px solid transparent;
}

.attribute-image img:hover{
    border: 4px solid red;
    opacity: .7;
}

/* Attribute Grid */

.attr-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.attribute-img-container{
    background: url('/src/assest/img/antimage_full.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2rem .5rem;
    height:8em;
    width: 13vw;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: 3px solid transparent;
    border-radius: 25px;
    transition: transform .5s ease-out;
    opacity: 0.7;
    
}

.attribute-img-container:hover{
    
    transform: scale(1.3);
    border: 3px solid red;
    opacity:1;
    z-index: 1;

}

.attribute-img-container img{
    height: 30px;
    width: 30px;
    padding: .5rem;
    display: none;
    
}

.attribute-img-container h2{
    margin-left: -15px;
    width: 70%;
    line-height: 1;
    text-align: center;
    font-size: 1rem;
    display: none;
    word-break: break-all;
}

.attribute-img-container:hover img, .attribute-img-container:hover h2{
    transition-property: display;
    transition-timing-function: ease-out;
    transition-duration: .5s;
    display: block;
}



/* ------------------------------------------ */
/*             All Heroes Page End          */
/* ----------------------------------------- */


/* ------------------------------------------ */
/*              About Page              */
/* ------------------------------------------ */

.about-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* <!-- Title and Sub-title Section --> */
.about-title{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title .main-title{
    font-size: 2rem;
    font-weight: 900;
}

/*  About quote Section */
.about-quote-outer-container{
    margin-top: -2rem;
    margin-bottom: 0rem;
    display: flex;
    padding: 0px;
    justify-content: space-around;
}

.about-quote-inner-container{
    padding: 3rem;
    align-self: baseline;

    
}

.about-quote-inner-container h1{
    font-size: 1.5rem;
}
.about-quote-inner-container p{
    margin-top: 1rem;
    
}

.about-quote-outer-container .about-video-thumbnail {
    
    width:20%;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0; 
    transition:opacity .5s;

    background-image: url('../assest/img/dota2.jpg');
    background-position: bottom;
    background-size: cover;


    
}

.about-quote-outer-container .about-video-thumbnail img{
    opacity: 0.2;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.about-quote-outer-container:hover .about-video-thumbnail {  
   opacity: 1;
}

.about-video-thumbnail:hover img{
    opacity: 0.7;
}

/*     <!-- About Video Section --> */

#about-video{
    display: none;   
    z-index:100;
    position: absolute;
    left: 0;
    top: 0;
}
#about-video-container{
    width: 100vw;
    height: 100vh;
    object-fit: fill;
}
