/* font Family */
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Basic Css */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #1c2132; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(28,33,50,1) 0%, rgba(28,33,50,0.465721322708771) 100%);
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    
}

.header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Saira Condensed', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: white;  
    font-weight: 200;
}

img{
  margin: 10px;
}
/*--------- Pre-Loader  -------------*/

/* General Styling */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Loader Styles start here */
.loader-wrapper {
  --line-width: 5px;
  --curtain-color: #f1faee;
  --outer-line-color: #a8dadc;
  --middle-line-color: #457b9d;
  --inner-line-color: #1d3557;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
}

.loader {
  display:block;
  position: relative;
  top:50%;
  left:50%;
/*   transform: translate(-50%, -50%); */
  width:150px;
  height:150px;
  margin:-75px 0 0 -75px;
  border:var(--line-width) solid transparent;
  border-top-color: var(--outer-line-color);
  border-radius:100%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  z-index:1001;
}

.loader:before {
  content:"";
  position: absolute;
  top:4px;
  left:4px;
  right:4px;
  bottom:4px;
  border:var(--line-width) solid transparent;
  border-top-color: var(--inner-line-color);
  border-radius:100%;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}

.loader:after {
  content:"";
  position: absolute;
  top:14px;
  left:14px;
  right:14px;
  bottom:14px;
  border:var(--line-width) solid transparent;
  border-top-color: var(--middle-line-color);
  border-radius:100%;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
          transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg); 
          transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
          transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg); 
          transform: rotate(360deg);
  }
}

.loader-wrapper .loader-section {
  position:fixed;
  top:0;
  background:var(--curtain-color);
  width:51%;
  height:100%;
  z-index:1000;
}

.loader-wrapper .loader-section.section-left {
  left:0
}
.loader-wrapper .loader-section.section-right {
  right:0;
}

/* Loaded Styles */ 
.loaded .loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded .loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded .loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.loaded .loader-wrapper {
  visibility: hidden;
  transform:translateY(-100%);
  transition: all 0.3s 1s ease-out;
}


/*----------- Heroes Page---------------- */

.hero-category{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(102, 101, 101);
    
    margin-top: 5rem;
}

.hero-category-title {
    color:rgb(13, 35, 235);  
    margin: 20px 0px 10px 10px;
    padding: 15px; 
    font-size: 700;
    
}

.box-sizing{
    display: flex;
    flex-wrap: wrap;
    
}

.box{
    margin: 1rem 0rem ;
    height: 100px;
    width: 200px;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.box:hover{
  box-shadow: 0px 5px grey;
  cursor: pointer;
 
}

/* _-----Heroes Page--------- */


.main-container{
  margin: 100px auto;
  max-width: 90vw;
  /* box-shadow: 5px 5px red; */
}

.main-container .roles{
  box-shadow: 5px 5px red;
  text-align: center;
}
.main-container .roles h2{
  font-weight: 700;

}

.main-container .roles .roles-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  


}

/* Hero Image Container */

.main-container .roles .roles-container .img-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container .roles .roles-container .img-container video{
  width:256px;
  height: 144px;
  border:3px solid red;
  border-radius: 10px;
  object-fit: cover;
  
}

.main-container .roles .roles-container .img-container .health_mana_bar{
  background-color: transparent;
  width: 256px;
  height:50px;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.main-container .roles .roles-container .img-container .health_mana_bar .health_bar{
  background-color: #4caf50e6;
  width: 256px;
  height:50%;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-around  ;
  
}
.main-container .roles .roles-container .img-container .health_mana_bar .dashboard{
  width: 50%;
  text-align: end;
  font-size: 1.1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  
}
.main-container .roles .roles-container .img-container .health_mana_bar .regen  {
  width: 50%;
  text-align: end;
  margin-right: 5px;
  color: aliceblue;
  
}
.main-container .roles .roles-container .img-container .health_mana_bar .mana_bar{
  background-color: blue;
  width: 256px;
  height:50%;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-around  ;  
}


/* Roles Continter */
.main-container .roles .roles-container .col1-container{
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.main-container .roles .roles-container .col1-container .roles-flex-container, .col2-container .roles-flex-container{
 display: flex;
 justify-content: center;
  align-items: center;
}

.rectangle-active{
  width: 20px;
  height: 10px;
  background-color: white;
  margin: 0px 10px;
  
}

.rectangle{
  width: 20px;
  height: 10px;
  border:1px solid white;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0px 10px;
  
}


/* ----Stats Section ---*/

.stats{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 5px 5px red;
  margin-top: 1rem;
  z-index: 0;
}

.stats h3{
  font-weight: 700;
}

.stats .types .stats-type img{
  
}

.stats .types .stats-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

/* Description Box */
.attributes-desc{
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 0;
  right: 0;
  top: -20rem;
  
  bottom: inherit;
  z-index: 2000;
  border: 1px solid white;
  background-color: red;
  
}

