@media only screen and (max-width: 1300px) {
    /* Header */
    .header-container{
        padding: 0px;
    }
    /* left header */
    #dota2_logo_horiz{
        display: none;
    }
    #dota2_logo_symbol{
        display: block;
    }

    .left-header-nav{
        width: 100%;
    }
    /* right header */
    .right-header .header-steam-link{
        display: none;
    }

    /* _____________Quote Container________________ */
    .quote-outer-container{
        height: 90vh;
    }
    .quote-inner-container{
        justify-content: center;
    }
    
    /* About Page */
    .about-quote-main-outer-container{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    
    }
    .about-main-container .about-title{
        margin-top: 5em;
        width: 80%;
    }
    .about-quote-outer-container .about-video-thumbnail{
        opacity: 1;

    background-image: url('../assest/img/dota2.jpg');
    background-position: bottom;
    background-size: cover;
    }
    .about-quote-outer-container .about-video-thumbnail img{
        opacity: 0.7;
        border-radius: 10px;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

}

